<div class="timer-wrapper">
  <form
    class="timer-form"
    #timerForm="ngForm"
    (ngSubmit)="timerForm.form.valid && startPause()"
  >
    <label for="limit">Enter Time Limit</label>
    <input
      type="number"
      name="limit"
      id="limit"
      [(ngModel)]="value"
      (keyup)="onchange($event)"
      #name="ngModel"
      required
      appDigitOnly
    />
    <div class="btn-wrapper">
      <button
        class="btn start-pause"
        [disabled]="!value"
        [ngClass]="{ disabled: !timerForm.form.valid }"
      >
        Start/pause
      </button>
      <button
        class="btn reset"
        (click)="resetTimer()"
        [disabled]="!value"
        [ngClass]="{ disabled: !timerForm.form.valid }"
      >
        reset
      </button>
    </div>
  </form>
  <ul class="pause-list">
    <li *ngFor="let item of pauseValues">
      {{ item }}
    </li>
  </ul>
</div>
